





<p-table [value]="usuariosFiltrados()"

         [paginator]="true"
         [rows]="FILAS">
  <ng-template pTemplate="caption">
    Lista de usuarios
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Correo</th>
      <th>Password</th>
      <th>Acciones</th>
    </tr>
    <tr>
      <th>
        <input type="text"
               pInputText
               name="Nombre"

                [(ngModel)]="nombreFiltrado"/>
      </th>
      <th>
        <input type="text"
               pInputText
               name="Apellido"

               [(ngModel)]="apellidoFiltrado"/>
      </th>
      <th>
        <input type="text"
               pInputText
               name="Correo"

               [(ngModel)]="correoFiltrado"/>
      </th>
      <th>
        <input type="text" pInputText name="Password" />
      </th>

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-usuario>
    <tr>
      <td>{{usuario.nombre}}</td> <!-- table detail -->
      <td>{{usuario.apellido}}</td> <!-- table detail -->
      <td>{{usuario.correo}}</td> <!-- table detail -->
      <td>{{usuario.password}}</td> <!-- table detail -->
      <td>
        <p-button label="EDITAR" (click)="editar(usuario)">

        </p-button>
        <p-button label="ELIMINAR" (click)="eliminar(usuario)">

        </p-button>
      </td> <!-- table detail -->
    </tr>
  </ng-template>
</p-table>



<router-outlet></router-outlet>
