
<div *ngIf="_authService.estaLogeado">
  <p>{{_authService.sesion.nombre}} {{_authService.sesion.apellido}}</p>
  <p>{{_authService.sesion.correo}}</p>

</div>
<ul>
  <li>
    <a [routerLink]="['/inicio']">
    Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['/login']">
    Login
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios']">
    Gestion de usuarios
    </a>
  </li>
  <li>
    <a [routerLink]="['/inicio','gestion-usuarios',1,'gestion-libros']">
    Gestion de libros
    </a>
  </li>
</ul>






<router-outlet></router-outlet>

<p>Pie</p>
